@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/GothamSSm-Light.otf'); /* IE9 Compat Modes */
    src: url('../fonts/GothamSSm-Light.otf') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/GothamSSm-Light.otf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/GothamSSm-Light.otf') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/GothamSSm-Light.otf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/GothamSSm-Light.otf') format('svg'); /* Legacy iOS */
    }
    
    @font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/GothamSSm-Book.otf'); /* IE9 Compat Modes */
    src: url('../fonts/GothamSSm-Book.otf') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/GothamSSm-Book.otf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/GothamSSm-Book.otf') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/GothamSSm-Book.otf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/GothamSSm-Book.otf') format('svg'); /* Legacy iOS */
    }
    @font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/GothamSSm-Medium.otf'); /* IE9 Compat Modes */
    src: url('../fonts/GothamSSm-Medium.otf') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/GothamSSm-Medium.otf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/GothamSSm-Medium.otf') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/GothamSSm-Medium.otf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/GothamSSm-Medium.otf') format('svg'); /* Legacy iOS */
    }
    @font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/GothamSSm-Bold.otf'); /* IE9 Compat Modes */
    src: url('../fonts/GothamSSm-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/GothamSSm-Bold.otf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/GothamSSm-Bold.otf') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/GothamSSm-Bold.otf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/GothamSSm-Bold.otf') format('svg'); /* Legacy iOS */
    }