@mixin section-header {
    position: relative;
    font-size: 40px;
    color: #000;
    padding: 50px 0 0;
    &:after {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background-color: #2196f3;
        margin: 30px 0 0;
    }
}

@mixin header-reset {
    .section__header {
        padding: 0;
    }
}
