
// *****************
// Color Variables
// *****************
$white: #fafafa;
$black: #404040; 
$pink: #d35689; 
$gray: #676464;
$aqua: #2196f3;
$blue: #2d599c;
$darkgray: #0f0f0f;


// *****************
// BREAKPOINTS
// *****************
$breakpoint-desktop: 1550px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 812px;
$breakpoint-mobile: 420px;


$font-light:  "Gotham-Light", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-book:   "Gotham-Book", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-medium: "Gotham-Medium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-bold: "Gotham-Bold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;